<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WarehouseWSSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WarehouseWSSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/axis2/services/WarehouseWS.WarehouseWSHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="WarehouseWSSoap12Binding"
                contract="ServiceReference1.WarehouseWSPortType" name="WarehouseWSHttpSoap12Endpoint" />
            <endpoint address="http://localhost:8080/axis2/services/WarehouseWS.WarehouseWSHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="WarehouseWSSoap11Binding"
                contract="ServiceReference1.WarehouseWSPortType" name="WarehouseWSHttpSoap11Endpoint" />
        </client>
    </system.serviceModel>
</configuration>